{# templates/home/modal.html.twig #}

 	
                  <!-- Thumb -->
                  <div class="col-md-4 col-sm-6 portfolio {{ component.type }} web panel" data-toggle="modal" data-target="#component-{{ component.id }}">
                    <div class="panel-body">
                      <div class="portfolio-title">
                        <div class="portfolio-icon">
                          <div>
                          	{% if component.type == 'source'%}
                          	<i class="fad fa-database"></i>
                          	{% elseif component.type == 'tool' %}
                          	<i class="fad fa-tools"></i>
                          	{% else %}{# lets default to application#}
                          	<i class="fad fa-browser"></i>                          	
                          	{% endif %}
                          </div>
                        </div>
                        <div class="title">
                          <h4>{{ component.name }}</h4>
                          <em>{{ component.description }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="portfolio-image">
                        <img src="{{ component.logo }}" alt="" />
                    </div>
                  </div>