{# templates/home/modal.html.twig #}
 <!--  Modal -->
    <div class="modal fade" id="organisation-{{ organisation.id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <button type="button" class="modal-close-btn" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
         <div class="modal-body container-fluid portfolio web">
            <!--  Carousel -->
            <div id="carousel-portfolio-{{ item.id }}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
              	{% for image in item.images %}
                <div class="item active">
                  <img src="{{ image }}" alt="" />
                </div>
             	{% endfor %}
              </div>

              <!-- Controls -->
              <!--
                Remove these controls if you are only using one image in the carousel.
              -->
              <a class="left carousel-control" href="#carousel-portfolio-{{ item.id }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              </a>
              <a class="right carousel-control" href="#carousel-portfolio-{{ item.id }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </a>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="portfolio-title">
                  <div class="portfolio-icon">
                    <div><span class="{{ item.icon }}"></span></div>
                  </div>
                  <div class="title">
                    <h4>{{ item.name }}</h4>
                    Versie <em>{{ item.summary }}</em>
                    {#
                    Licentie <a href="{{ item.license.url}}">{{ item.license.name}}</a><br />
                    Ontwikkelaar <a href="{{ item.license.url}}">{{ item.license.name}}</a><br />
                    Eigenaar <a href="{{ item.license.url}}">{{ item.license.name}}</a><br />
                    #}
                  </div>
                  <br />
                  {#
                  <p>
                  	<b>Documentatie</b><br />
                    {% for doc in item.docs %}
                  		<a href="{{ doc.url }}">{{ doc.name }}</a><br />
                    {% endfor %}
                  </p>
                  #}
                  <p>
                  	<b>Informatie Model</b><br />   
                    {% for tag in item.tags %}
                  		{{ tag.name }}<br />
                    {% endfor %}
                  </p>
                  <p>
                  	<b>Servers</b> <br />      	
                    {% for server in item.servers %}
                  		<a href="{{ server.url }}">{{ server.description }}</a><br />
                    {% endfor %}
                  </p>
                  <p>
                  	<b>Verwijzingen</b><br />           
                    {% for link in item.links %}
                  		<a href="{{ link.url }}">{{ link.name }}</a><br />
                    {% endfor %}
                  </p>
                </div>
              </div>
              <div class="modal-text col-md-7">
                <p>{{ item.description | raw }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>