{# templates/home/modal.html.twig #}

 	
                  <!-- Thumb -->
                  <div class="col-md-4 col-sm-6 portfolio web panel" data-toggle="modal" data-target="#porfolio-{{ item.id }}">
                    <div class="panel-body">
                      <div class="portfolio-title">
                        <div class="portfolio-icon">
                          <div><span class="{{ item.icon }}"></span></div>
                        </div>
                        <div class="title">
                          <h4>{{ item.name }}</h4>
                          <em>{{ item.summary }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="portfolio-image">
                        <img src="{{ item.images|first }}" alt="" />
                    </div>
                  </div>